#HeAder {
    padding: 0;
    margin: 0;
    border: #685e5f groove 2px;
    background-color: rgba(245,243,209,0.9);
    width: 99%;
    display:inline-flex;
    align-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


#HeAder h2 {

    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    font-family: 'Barrio', cursive;
    padding-top: 18px;
    position: relative;
    /* left: -30px; */
    top: -7px;
}


/* Background prototype */
#home {
    background-color: blue;
    height: auto;
}

#about { 
    background-color: red;
 }

 #temperatureDisplay {
    text-align: center;
    bottom: -18px;
    position: relative;

 }

.temperatureLabel {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    border: black solid 2px;
    width: 99%;
    height: 35px;
    padding: 0;
    margin: 0;
    align-content: center;
    background: rgba(245,243,209,0.5);
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}

body {
    /*background-image: url(..//img/clontarf.jpg);
    background-repeat: no-repeat;
    background-position: -405px 0px;*/

    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#CounterBox {
    width: 95%;
    height: 200px;
    border: solid 2px black;
    background-color: rgba(245,243,209,0.8);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

#calorieIMG {
    height: 75px;
    width: 75px;
    color: black;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgba(210,210,210,0.7);
    position: relative;
    bottom: 55px;
}



#burger {
    font-size: 35px;
    cursor: pointer;
    position: relative;
    /* right: 82%; */
    padding: 10px 10px 10px 10px;
    margin: 0;
}

#Status{
    width: 99%;
    height: 50px;
    border: solid 2px black;
    background-color: rgba(245,243,209,0.9);
    position: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
    display: flex;
    bottom: 0px;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    
}
#BLEStatus {
    margin: auto;

}

#status{
    font-family: 'Indie Flower', cursive;
    position: relative;
    top: -3px;
    height: 20px;
}

#StatusTitle {
    font-family: 'Indie Flower', cursive;
}

#Status h3 {
    margin: 0;
}

#status h3 {
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Barrio', cursive;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

.line {
    display: inline-flex;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-wrapp {
    width: 100px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    position: relative;
    top: 8px;
    right: -250px;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

#Connection {
    font-family: 'Indie Flower', cursive , bold;
    position: relative;
    right: -35px;
    top: -1px;

}

input {

  font-size: 14px;
  width:240px;

  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
}

#ButtonBox {
    width: 95%;
    height: 80px;
    border: solid 2px black;
    background-color: rgba(245,243,209,0.9);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    top: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#BLEButton {

    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
  

}

/* Import Fonts */

@font-face {
    font-family: 'Indie_Flower';
    src: url('..//fonts/Indie_Flower/IndieFlower.ttf') format('truetype');
}

@font-face {
    font-family: 'Barrio';
    src: url('..//fonts/Barrio/Barrio-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/ProximaNova-Reg-webfont.eot');
    src: url('fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/ProximaNova-Bold-webfont.eot');
    src: url('fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Bold-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/ProximaNova-Black-webfont.eot');
    src: url('fonts/ProximaNova-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Black-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Black-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Black-webfont.svg#proxima_nova_blblack') format('svg');
    font-weight: bolder;
    font-style: normal;
}
